body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.imagecontainer {
  display: flex;
  overflow-x: scroll;
}
.imagecontainer::-webkit-scrollbar {
  display: none;
}
img{
  margin: 5px;
  /* transition: ; */
}
img:hover {
  transform: scale(1.1,1.1);
  transition-property: transform;
  transition-duration: 1s;
}